<div class='browser-list-container'>
    <!--<h3>Unfortunately your browser doesn't support some of the features required to give you a great experience with Portia.</h3>-->
    <h3>您的浏览器不支持你在蜘蛛网上的一些功能</h3>
    <p class='browser-p'>请尝试使用这些浏览器中的一个最新版本</p>

    {{browser-list browsers=model}}
</div>
