<div class="project-list-container">
    <img src="/assets/images/portia-logo.svg" alt="Portia logo">

    <h3>新建一个项目</h3>
    {{create-project-button projects=model}}
    {{#if model}}
        <p>从下面的列表中选择一个项目</p>
        {{project-list projects=model}}
    {{/if}}
</div>
