{{#if canCreateProjects}}
    <p></p>
    <div class="input-group project-create-input">
        {{input type="text" class="form-control" value=(mut projectName) placeholder="新建项目"
          enter=(action 'addProject')}}
        <span class="input-group-btn">
            <button type="button" class="btn btn-primary" disabled={{not projectName}} {{action "addProject"}}>
                {{icon-button icon='spider'}}
            </button>
        </span>
    </div>
    {{#if projects}}
    <h5>或者</h5>
    {{/if}}
{{/if}}
