<div class="spaced">
    <p class="txt-describe">
        输入一个包含换行符的公开可用URL
        <!--<a href={{feedLink}} target="_blank">例如.</a>-->
    </p>
</div>

<div class="spaced">
    <label for="feedUrl">提要URL</label>
    {{input
      type="text"
      id='feedUrl'
      class="form-control focus-control"
      value=(mut startUrl.url)
      focus-out="saveFeedUrl"
      placeholder='https://gist.github.com/user/gist_id'
    }}
</div>
